body {
  font-family: 'Montserrat', sans-serif;
}


.hero-image {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media (max-width: 768px) {
  .hero-image {
    max-width: 400px;
  }
}

@media (max-width: 576px) {
  .hero-image {
    max-width: 300px;
  }
}